
.col{
    margin-top: 5cm;
    padding-top: 5cm;    
   background-color: darkcyan;
    margin-left: 5cm;
    padding-left: 5cm;
}
#asd{
    text-align: center;
    width: 500px;
    
}
#sad{
    background-color: 
}